# Dependencies
node_modules

# Build output
dist

# VCS
.git
.gitignore

# Editor/IDE
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
